# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# Backend
backend/examsphere-backend/target/
*.class

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Sensitive - hide your DB password
backend/examsphere-backend/src/main/resources/application.properties